# PostgreSQL
DATABASE_URL=postgresql+asyncpg://curfew:curfew_pass@db:5432/curfew_db
DATABASE_URL_SYNC=postgresql+psycopg2://curfew:curfew_pass@db:5432/curfew_db

# MQTT
MQTT_HOST=srv2.clusterfly.ru
MQTT_PORT=9992
MQTT_USE_SSL=true
MQTT_USERNAME=your_user
MQTT_PASSWORD=your_password
MQTT_TOPIC_PREFIX=your_user/curfew/kids

# Сервер
SERVER_TIMEZONE=Asia/Yekaterinburg
LOG_LEVEL=INFO